    body, html {
      margin: 0;
      padding: 0;
      height: 100%;
      overflow: hidden;
    }
    /* Make sure the canvas takes full width and height of the screen */
    #threeCanvas {
      position: absolute;
      top: 0;
      left: 0;
      width: 50%;
      height: 50%;
      z-index: 1; /* Lower z-index to be under the slider container */
    }

    /* Container for the scene */
    #scene-container {
      position: absolute;
      width: 80%;
      height: 80%;
      top: 20px;
      left: 20px;
    }

    /* Slider container styling */
    #sliderContainer {
      position: absolute;
      top: 10px;
      left: 10px; /* Adjusts the container to the top-right corner */
      z-index: 10; /* Higher z-index so it floats above the scene */
      background-color: rgba(0, 0, 0, 0);
      padding: 10px;
      border-radius: 8px;
      color: white;
      font-family: Arial, sans-serif;
      width: auto;
    }

    /* Individual color picker styling */
    input[type="color"] {
      width: 50px;
      height: 30px;
    }

    p {
      margin: 5px 0;
    }
